@model Sevdah.ViewModel.RacuniDodajStavkuVM
@{
    ViewData["Title"] = "DodajStavku";
    int brojac = 0;
}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2><b>Dodaj stavku</b></h2>
                <hr />


            </header>
            <br />
            <br />
            <div style="margin-left:5px;">
            </div>
            <div class="panel-body">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/Racuni/Uredi?RacunId=@Model.RacunId" style="background-color:orangered;border-style:none;"><i class="fa fa-close"></i> Odustani</a>
                </div>
                <br />
                <br />
                <br />
                <form action="/Racuni/SnimiStavku/" style="width:50%;">
                    <label asp-for="stavka.ProizvodID">Odaberite proizvod: </label>
                    @Html.DropDownListFor(model => model.stavka.ProizvodID, Model.listaProizvoda, new { @class = "form-control" })
                    <br />
                    @Html.HiddenFor(model => model.RacunId)
                    @Html.HiddenFor(model => model.KupacId)
                    <label asp-for="komada">Unesite količinu u kg: </label>
                    <input asp-for="komada" class="form-control" />
                    <br />
                    <div class="pull-right">
                        <h7 style="color:red;"><i>Za odvajanje decimalnih mjesta koristite <b>tačku</b> </i></h7><br /><br />
                    </div>
                    <button id="dodaj" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj</button>
                </form>
                <br />
                <br />
                <br />
                <p style="color:red;">
                    <b>NAPOMENA: </b><br />
                    - U tabeli ispod su prikazani odobreni rabati za kupca:<b> @Model.Kupac</b><br />
                    @*- Ukoliko je potrebno izmijenuti rabate kliknite na sljedeće dugme: &nbsp; <a asp-action="IndexKupac" asp-controller="Rabat" asp-route-KupacID="@Model.KupacId" class="btn btn-default"> Izmijeni rabate</a><br />*@
                </p>
                <br />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Redni broj</th>
                            <th>Proizvod</th>
                            <th>Iznos rabata</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var x in Model.Rabati)
                        {
                            <tr>
                                <td>@(++brojac)</td>
                                <td>@x.Proizvod.Naziv</td>
                                <td>@x.IznosPostotci  %</td>

                            </tr>
                        }
                    </tbody>

                </table>




            </div>
        </section>
    </section>
</section>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:200px !important;">
        <h2 style="margin:0 auto;">Dodavanje stavke...</h2>
        <div style="margin:0 auto;" class="loader"></div>
    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
  //  var btn = document.getElementById("myBtn");
    var dodaj = document.getElementById("dodaj");
    // Get the <span> element that closes the modal

    // When the user clicks the button, open the modal

    dodaj.onclick = function () {
        modal.style.display = "block";
        window.location.href = $(this).attr("href");

    }
   
    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it

</script>
